[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
joblib = "*"
ipykernel = "*"
requests = "*"
pyarrow = "*"
fastparquet = "*"
xlrd = "*"
matplotlib = "*"
statsmodels = "*"
sklearn = "*"
ipython = "*"
geopy = "*"
tensorflow = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
